name: Build and deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@latest

      - name: Use Node.js 18
        uses: actions/setup-node@latest
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build --if-present
        env:
          NODE_ENV: production

      - name: Configure GitHub Pages
        uses: actions/configure-pages@latest

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@latest
        with:
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@latest
